<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Season {{ year }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'iplapp/bulma.css' %}">
    <style>
        .select-season
        {
            float:right;
            margin-top:-40px;
            margin-right: 10px ;
            width:30%;
            height: 40px;
        }
    </style>
</head>
<body>
    {% include "iplapp/userheader.html" with request=request %}
        <h1 class="title is-3 ">IPL Season {{ year }} Matches</h1>


        <select class="select-season" onchange="location = this.options[this.selectedIndex].value">
            <option>Select Season</option>
            {% for row in seasons_list %}
                <option value="{% url 'season_details' row.0%}">{{ row.0 }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="box outer">
            {% for row in matches %}

               <div class="box inner">
                <h1 class="title is-6">{{ row.team1 }} <i>vs</i> {{ row.team2 }}</h1>
                <span>Venue : {{ row.venue }}</span><br>
                <span>Toss : {{ row.toss_winner }} - {{ row.toss_decision }}</span><br>
                {% if row.result != 'normal' %}
                   <span>{{ row.result }}</span><br>
                {% else %}
                    <span>Player of Match - {{ row.player_of_match }}</span><br>
                {% endif %}
                   <span style="float:right;margin-top: -40px;"><a href="{% url 'match_details' year row.match_id %}">View Match Details</a></span>
                </div>
            {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if matches.has_previous %}
                    <a href="?page=1">&laquo;first</a>
                    <a href="?page={{ matches.previous_page_number }}">Previous</a>
                {% endif %}
            <span class="current">
                Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
            </span>
            {% if matches.has_next %}
                <a href="?page={{ matches.next_page_number }}">next</a>
                <a href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
        </div>
        </div>
</body>
</html>